* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.body {
  height: 78em;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

header {
  height: 8em;
  width: 100%;
  background-color: rgb(68, 68, 68);
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContent {
  height: 8em;
  width: 70%;
  padding-right: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.headerImg {
  width: 30px;
}

.profile {
  width: 35px;
  height: 35px;
  margin-bottom: 2.7em;
  transition: 0.1s;
  background: url("public/icon profile.png");
  background-size: 35px;
  background-repeat: no-repeat;
}

.profile:hover {
  width: 40px;
  height: 40px;
  transition: 0.1s;
  box-shadow: 0 0 10px 1px rgb(255, 255, 255);
  border-radius: 7px;
  background: url("public/icon profile 2.png");
  background-size: 40px;
  background-repeat: no-repeat;
}

.checkout {
  width: 35px;
  height: 35px;
  margin-bottom: 2.7em;
  transition: 0.1s;
  background: url("public/icon shopping cart.png");
  background-size: 35px;
  background-repeat: no-repeat;
}

.checkout:hover {
  width: 40px;
  height: 40px;
  transition: 0.1s;
  padding: 10px;
  box-shadow: 0 0 10px 1px rgb(255, 255, 255);
  border-radius: 7px;
  background: url("public/icon shopping cart 2.png");
  background-size: 40px;
  background-repeat: no-repeat;
}

.checkoutA {
  margin: 0;
}

.new {
  font-size: 25px;
  cursor:alias;
}

.line {
  min-width: 3px;
  height: 3em;
  background-color: white;
}

.siteName {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor:alias;
}

.siteName p {
  letter-spacing: 5px;
  font-size: 20px;
  cursor:alias;
}

.siteName h1 {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
}

main {
  margin-top: 3em;
  margin-bottom: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3em;
}

.topDiv {
  background-color: #8C8C8C;
  padding: 3em 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

.bottomDiv {
  width: 100%;
  background-color: #B0B0B0;
  padding: 2em;
  padding-bottom: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

.divHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.divHeader h2 {
  font-size: 2rem;
}

.divHeader p {
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.topDiv .itemList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
}

.bottomDiv .itemList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3em;
}

.topDiv .itemList .item {
  background-color: #D9D9D9;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 7px;
  font-weight: 500;
}

.bottomDiv .itemList .item {
  background-color: #dbdbdb;
  padding: 10px;
  padding-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  font-weight: 500;
}

.hr {
  height: 2px;
  width: 110%;
  border: none;
  background-color: #f4f4f4;
  margin-bottom: 10px;
}

.topDiv .itemList .itemInfo .itemName {
  padding: 5px;
  font-size: 2.5rem;
  color: #ffffff;
  -webkit-text-stroke: 1px #808080;
}

.topDiv .itemList .itemInfo .itemStock {
  padding: 2px 5px;
  font-size: 1.1rem;
  color: #8C8C8C;
}

.topDiv .itemList .itemInfo .itemPrice {
  padding: 2px 5px;
  font-size: 1.5rem;
  color: #8C8C8C;
}

.bottomDiv .itemList .itemInfo .itemName {
  padding: 5px;
  font-size: 2rem;
  color: #ffffff;
  -webkit-text-stroke: 1px #808080;
}

.bottomDiv .itemList .itemInfo .itemStock {
  padding: 2px 5px;
  font-size: 1.1rem;
  color: #8C8C8C;
}

.bottomDiv .itemList .itemInfo .itemPrice {
  padding: 2px 5px;
  font-size: 1.5rem;
  color: #8C8C8C;
}

.topDiv .itemList .itemInfo {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bottomDiv .itemList .itemInfo {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.topDiv img {
  width: 15em;
  border-radius: 5px;
}

.bottomDiv img {
  width: 10em;
  border-radius: 5px;
}

